<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Annotate, share & visualize!</h2>
                <hr class="light">
                <p class="text-faded">Plokamos is a browser-based tool that can be used to support scholars and students of literary disciplines in their work with text. It provides users with the ability to assign meaning to segments of text, to share their assertions with colleagues and classmates and to visualize the result of their work in aggregate.</p>
                <a href="http://cts.perseids.org/" class="btn btn-default btn-xl">Try it out!</a>
            </div>
        </div>
    </div>
</section>
